.DS_Store
artifacts/*
assets/*
build/*
artifacts/*
zapp/*
keys/*
dev/*
external/**/*
*.swp
development.env
node_modules/*
package-lock.json
.assetsCache
api-docs
.history
.vscode
*.orig
!dev/example-launch.json
!dev/example-tasks.json
!dev/app-config
!dev/example.env
!dev/example.sh
!dev/example-run.sh
!dev/example-run-tests.sh